<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'profile.jpg' %>
	</div>

	<div id="content">
		<h1>Mitt's Blog</h1>
		<p>
		Welcome to my journey learning to code. I started this 
		so that I could get the ideas in my head out into the world. 
		It is amazing, but much harder and longer than I antipated.
		</p>
		<br>
		<br>
		<p>
		I believe our ability to underestimate time required and over estimate
		our ability is one of the sole reasons we have anything creative
		in the world. If we knew exactly how long and hard something would be
		we might give up before beginning. Here's to the power of the sunk
		cost fallacy and optimism bias.
		</p>
	</div>
</div>